*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:sans-serif;
}

body{
background:#f1f5f9;
}

.admin-layout{
display:flex;
min-height:100vh;
}

.sidebar{
width:260px;
background:#111827;
padding:25px;
display:flex;
flex-direction:column;
justify-content:space-between;
}

.logo{
font-size:30px;
font-weight:800;
color:white;
}

.admin-text{
color:#94a3b8;
margin-top:5px;
}

.menu-list{
margin-top:40px;
display:flex;
flex-direction:column;
gap:14px;
}

.menu-btn{
padding:15px;
border:none;
border-radius:14px;
background:#1e293b;
color:white;
font-size:15px;
font-weight:700;
cursor:pointer;
text-align:left;
transition:.2s;
}

.menu-btn:hover{
background:#7c3aed;
}

.active-btn{
background:#7c3aed;
}

.main-panel{
flex:1;
padding:30px;
overflow:auto;
}

.page-title{
font-size:34px;
font-weight:800;
margin-bottom:25px;
color:#111827;
}

.stats-grid{
display:grid;
grid-template-columns:
repeat(3,1fr);
gap:20px;
margin-bottom:30px;
}

.stats-card{
background:white;
padding:25px;
border-radius:22px;
box-shadow:0 4px 20px rgba(0,0,0,.06);
}

.stats-card h3{
font-size:15px;
color:#64748b;
margin-bottom:12px;
}

.stats-card p{
font-size:34px;
font-weight:800;
color:#111827;
}

.section-top{
display:flex;
justify-content:space-between;
align-items:center;
margin-bottom:20px;
}

.search-input{
width:280px;
padding:14px;
border:none;
border-radius:14px;
background:white;
font-size:14px;
outline:none;
box-shadow:0 4px 12px rgba(0,0,0,.05);
}

.table-header{
display:grid;
width:max-content;
min-width:100%;
grid-template-columns:
240px
80px
90px
70px
110px
170px
90px
90px
100px
100px
70px;
align-items:center;
gap:2px;
padding:10px 4px;
background:#f8fafc;
border-radius:14px;
margin-bottom:10px;
font-size:12px;
font-weight:700;
color:#64748b;
border-bottom:1px solid #f1f5f9;
}
.table-box{
background:white;
padding:20px;
border-radius:22px;
box-shadow:0 4px 20px rgba(0,0,0,.06);
overflow:auto;
}
.user-card{
display:grid;
grid-template-columns:
240px
80px
90px
70px
110px
170px
90px
90px
100px
100px
70px;
align-items:center;
gap:2px;
padding:0px 4px;
border-bottom:1px solid #f1f5f9;
font-size:13px;
width:max-content;
min-width:100%;
}

.user-left{
display:flex;
align-items:center;
gap:16px;
}

.user-photo{
width:42px;
height:42px;
border-radius:50%;
object-fit:cover;
cursor:pointer;
}

.user-name{
font-size:13px;
font-weight:600;
color:#111827;
}

.user-uid{
font-size:13px;
color:#64748b;
margin-top:4px;
}

.user-card:last-child{
border-bottom:none;
}

.stat-box{
font-size:13px;
font-weight:600;
color:#111827;
line-height:1.4;
white-space:pre-line;
}

.user-actions{
position:relative;
}

.menu-dot{
font-size:30px;
cursor:pointer;
padding:0 12px;
}

.action-menu{
position:absolute;
top:35px;
right:0;
background:white;
border-radius:14px;
padding:10px;
display:none;
flex-direction:column;
gap:8px;
min-width:170px;
box-shadow:0 10px 30px rgba(0,0,0,.12);
z-index:999;
}

.action-menu button{
border:none;
padding:10px;
border-radius:10px;
cursor:pointer;
font-size:13px;
font-weight:700;
color:white;
}

.ban-user{
background:#ef4444;
}

.unban-user{
background:#22c55e;
}

.active-status{
background:#22c55e;
color:white;
}

.inactive-status{
background:#ef4444;
color:white;
}

.content-section{
display:none;
}
.active-section{
display:block;
}
.active-status,
.inactive-status,
.offline-status,
.banned-status{
padding:8px 14px;
border-radius:30px;
font-size:12px;
font-weight:700;
width:max-content;
color:white;
text-align:center;

}

.active-status{
background:#22c55e;
}

.offline-status{
background:#f59e0b;
}

.inactive-status{
background:#ef4444;
}

.banned-status{
background:#111827;
}

.image-preview{
position:fixed;
inset:0;
background:#000000cc;
display:none;
justify-content:center;
align-items:center;
z-index:999;
}

.preview-img{
width:320px;
height:320px;
object-fit:cover;
border-radius:24px;
}

/* WITHDRAW TABLE */

#withdrawSection .table-header{
display:grid;
grid-template-columns:
170px
55px
70px
100px
90px
120px
90px
70px;
gap:2px;
padding:10px 6px;
font-weight:700;
color:#64748b;
border-bottom:1px solid #dbe2ea;
width:max-content;
min-width:100%;
background:#f8fafc;
border-radius:14px;
font-size:12px;
align-items:center;
}

#withdrawSection .withdraw-card{
display:grid;
grid-template-columns:
170px
55px
70px
100px
90px
120px
90px
70px;
align-items:center;
gap:4px;
padding:10px 6px;
border-bottom:1px solid #dbe2ea;
width:max-content;
min-width:100%;
font-size:13px;
}
.withdraw-user{
display:flex;
align-items:center;
gap:12px;
}

.withdraw-photo{
width:50px;
height:50px;
border-radius:50%;
object-fit:cover;
}

.withdraw-name{
font-size:13px;
font-weight:700;
color:#111827;
}

.withdraw-uid{
font-size:11px;
color:#64748b;
margin-top:4px;
}

.withdraw-badge{
padding:10px 14px;
border-radius:12px;
font-size:13px;
font-weight:700;
text-align:center;
width:max-content;
}

.pending-badge{
background:#facc15;
color:#111827;
}

.success-badge{
background:#22c55e;
color:white;
}

.cancel-badge{
background:#ef4444;
color:white;
}

.hold-badge{
background:#3b82f6;
color:white;
}

.withdraw-actions{
display:flex;
gap:10px;
}

.withdraw-actions button{
border:none;
padding:10px 14px;
border-radius:12px;
color:white;
font-size:13px;
font-weight:700;
cursor:pointer;
}

.approve-btn{
background:#22c55e;
}

.cancel-btn{
background:#ef4444;
}

.hold-btn{
background:#3b82f6;
}

.user-actions{
position:relative;
display:flex;
justify-content:center;
align-items:center;
}

.menu-dot{
font-size:24px;
cursor:pointer;
font-weight:700;
line-height:1;
}
